.Button {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
  padding: 24px 0;
  color: var(--color-black);
  text-align: left;
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--color-light-gray);
  cursor: pointer;
  transition: color var(--trans-default);
  will-change: color;

  @media (hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }

  @media (max-width: 590px) {
    padding: 16px 0;
  }

  @media (max-width: 360px) {
    gap: 20px;
  }
}

.Title {
  margin: 0;
  font-size: var(--font-body18);
  font-weight: 600;
  line-height: var(--line-body18);
}

.Icon {
  flex-shrink: 0;

  display: flex;
  align-items: center;
  width: 24px;
  height: 24px;
  margin-top: 5px;
  transition: transform var(--trans-default);
  will-change: transform;
  transform: translateZ(0);

  svg {
    width: 100%;
    height: 100%;
  }
}

.Content {
  padding-right: 8%;
  transition: height var(--trans-default);
  overflow-y: hidden;

  @media (max-width: 1023px) {
    padding-right: 7%;
  }

  @media (max-width: 590px) {
    padding-right: 9%;
  }

  @media (max-width: 360px) {
    padding-right: 14%;
  }
}

.Content > div {
  display: flex;
  flex-direction: column;
}

.Text {
  margin: 0 0 25px;
  font-size: var(--font-body18);
  line-height: var(--line-body18);

  @media (max-width: 590px) {
    margin-bottom: 16px;
    font-size: var(--font-body16);
    line-height: var(--line-body16);
  }
}
