@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: 'Graphik LCG';
  font-display: swap;
  src: url('/fonts/GraphikLCG-Regular.woff2') format('woff2');
}

@font-face {
  font-style: normal;
  font-weight: 600;
  font-family: 'Graphik LCG';
  font-display: swap;
  src: url('/fonts/GraphikLCG-Semibold.woff2') format('woff2');
}
