.Container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 var(--container-padding);

  @media (max-width: 1023px) {
    --container-padding: 20px;
  }

  @media (max-width: 590px) {
    --container-padding: 16px;
  }
}
